n8n/workflow-seu-mundinho.json
{
  "name": "SICAR Seu Mundinho - Demo Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-whatsapp",
        "options": {}
      },
      "id": "1",
      "name": "Evolution API Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://motor-sicar:3000/api/analisar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "area_total_ha",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Chamar Motor Determinístico",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "prompt": "Você é o Dr. CARlei. Aqui está um JSON determinístico calculado pelo motor do SICAR. Apenas traduza o JSON recebido para uma linguagem acolhedora e popular. NUNCA CALCULE, APENAS TRADUZA os números fornecidos. JSON: {{ $json }}",
        "options": {}
      },
      "id": "3",
      "name": "Dr. CARlei (LLM Tradutor)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Evolution API Webhook').item.json.body.data.key.remoteJid }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Enviar WhatsApp (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Evolution API Webhook": {
      "main": [
        [
          {
            "node": "Chamar Motor Determinístico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Motor Determinístico": {
      "main": [
        [
          {
            "node": "Dr. CARlei (LLM Tradutor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dr. CARlei (LLM Tradutor)": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp (Evolution)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
